In [1]:
import numpy as np

In [3]:
a=np.array([[1,6],[2,8],[3,11],[3,10],[1,7]])
print(a)

[[ 1  6]
 [ 2  8]
 [ 3 11]
 [ 3 10]
 [ 1  7]]

mean_a=np.array([a.mean(0:,0),a.mean(0:,1)
print(mean_a)

In [7]:
mean_a=np.mean(a,axis=0) 
print(mean_a)

[2.  8.4]

In [8]:
a_centered=a-mean_a
print(a_centered)

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

In [9]:
a_centered_sp=a_centered[0:,0]@a_centered[0:,1]
print(a_centered_sp)

8.0

In [10]:
n=a_centered.size
print(n)

10

In [11]:
ccov=a_centered_sp/(n-1)
print(ccov)

0.8888888888888888

In [18]:
c=np.cov(a.T)
print(c)
print(c[0][1])

[[1.  2. ]
 [2.  4.3]]
2.0

In [17]:
array1 = np.array([1,2,3,3,1])
array2 = np.array([6,8,11,10,7])

covariance = np.cov(array1, array2)[0][1]
print(covariance)

2.0

In [2]:
import pandas as pd

In [3]:
a={"author_id":[1,2,3],"author_name":['Тургенев','Чехов','Островский']}
autors=pd.DataFrame(a)

In [51]:
b={"author_id":[1,1,1,2,2,3,3],
      "book_title":['Отцы и дети','Рудин','Дворянское гнездо','Толстый и тонкий','Дама с собачкой','Гроза','Таланты и поклонники'],
     "price":[450,300,350,500,450,370,290]}
book=pd.DataFrame(b)
print(book)

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

In [47]:
authors_price=pd.merge(book,autors,on='author_id',how='inner')
print(authors_price)

   author_id            book_title  price author_name
0          1           Отцы и дети    450    Тургенев
1          1                 Рудин    300    Тургенев
2          1     Дворянское гнездо    350    Тургенев
3          2      Толстый и тонкий    500       Чехов
4          2       Дама с собачкой    450       Чехов
5          3                 Гроза    370  Островский
6          3  Таланты и поклонники    290  Островский

In [22]:
authors_price.sort_values(by='price').head(5)

   author_id            book_title  price author_name
6          3  Таланты и поклонники    290  Островский
1          1                 Рудин    300    Тургенев
2          1     Дворянское гнездо    350    Тургенев
5          3                 Гроза    370  Островский
0          1           Отцы и дети    450    Тургенев

In [53]:
c = pd.DataFrame({"cover":['твердая','мягкая','мягкая','твердая','твердая','мягкая','мягкая']})
authors_price=pd.concat([authors_price,c],sort=False,axis=1)
print(authors_price)

   author_id            book_title  price author_name    cover
0          1           Отцы и дети    450    Тургенев  твердая
1          1                 Рудин    300    Тургенев   мягкая
2          1     Дворянское гнездо    350    Тургенев   мягкая
3          2      Толстый и тонкий    500       Чехов  твердая
4          2       Дама с собачкой    450       Чехов  твердая
5          3                 Гроза    370  Островский   мягкая
6          3  Таланты и поклонники    290  Островский   мягкая

In [70]:
aa=authors_price.groupby('author_name')
f1 = pd.Series(aa["price"].mean())
f2 = pd.Series(aa["price"].min())
f3 = pd.Series(aa["price"].max())
authors_stat=pd.DataFrame({'mean_price':f1,'min_price':f2,'max_price':f3})
print(authors_stat)

             mean_price  min_price  max_price
author_name
Островский   330.000000        290        370
Тургенев     366.666667        300        450
Чехов        475.000000        450        500

In [61]:
import numpy as np
book_info=pd.pivot_table(authors_price,values="price",index=['author_name'],columns='cover',aggfunc=np.sum,fill_value=0)
print(book_info)

cover        мягкая  твердая
author_name
Островский      660        0
Тургенев        650      450
Чехов             0      950

In [62]:
book_info.to_pickle("book_info.pkl")

In [63]:
book_info2 = pd.read_pickle("book_info.pkl")
print(book_info2)

cover        мягкая  твердая
author_name
Островский      660        0
Тургенев        650      450
Чехов             0      950